/*  your css code here. If applicable */
.selector1{
	color:#00f;
	background-color:#eee;
	Font family: Arial;
	Font size: 20px
}
.selector3{
	color:#00f;
	background-color:#eee;
	Font family: Arial;
	Font size: 20px
}
.selector2{
	font-size:11px;
}
.selector4{
	font-size:11px;
}